@model ProjetoBackend.Models.Fornecedor

@{
    ViewData["Title"] = "Edit";
}
<div class="container">

    <p class="titulo-criar fw-bold">Fornecedores</p>

    <hr class="border border-dark border-1">

    <h4 class="cadastro">Editar Fornecedores</h4>

    <div class="row">
        <div class="col-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="FornecedorId" />
                <div class="text-box-container form-group mb-2">
                    <input asp-for="Nome" class="text-box-input form-control" placeholder="Nome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 ext-box-container mb-2">
                        <input asp-for="CnpjCpf" class="text-box-input form-control" placeholder="Cpf/Cnpj" />
                        <span asp-validation-for="CnpjCpf" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-md-6 text-box-container mb-2">
                        <input asp-for="Celular" class="text-box-input form-control" placeholder="Celular" />
                        <span asp-validation-for="Celular" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input asp-for="Email" class="text-box-input form-control" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-6 mt-4 form-group">
                        <input type="submit" value="Save" class=" botao-criar fw-semibold" />
                    </div>

                    <div class="col col-md-6 mt-4 d-flex justify-content-end">
                        <a class="botao-cancelar m-0 p-0 fw-semibold" asp-action="Index">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>



</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
