@{
    ViewData["Title"] = "Página Inicial";
}
</style>


<div class="row Apresentacao justify-content-center rounded-">
    <div class="col-md-1"></div>
    <div class="col-10 col-lg-4 mt-auto mb-auto Sobre">
        <h1 class="text-light d-flex align-items-center fw-bold">Sobre</h1>
        <p class="text-light justify-content-center align-items-center">
            A TropTech é uma loja especializada em games e tecnologia, oferecendo uma ampla variedade de consoles, jogos e acessórios. Com foco na comunidade gamer, proporciona atendimento especializado, suporte técnico confiável e eventos exclusivos. Seja para lançamentos modernos ou títulos clássicos, a TropTech é o destino perfeito para quem busca qualidade e inovação no universo dos jogos.
        </p>
    </div>
    <div class="col-md-1 col-12"></div>
    <div class="col-12 d-lg-none"><span>.</span></div>
    <div class="col-12 d-lg-none"><span>.</span></div>
    <div class="col-12 d-lg-none"><span>.</span></div>


    <div class="col-lg-6 d-none d-lg-block">
        <img src="~/img/960x571 1.png" />
    </div>
</div>

<div class="row justify-content-center Cards mb-5 rounded-4">
    <div class="Qualidade  mb-5 col-10 col-lg-3 justify-content-center rounded-3">
        <div class="justify-content-center text-center Qualidade justify-content-center">
            <img class="mt-4 mb-5" src="~/img/vector (1).svg" />
            <h2 class="text-light mb-4">Qualidade</h2>
            <p class="text-light">Fomos eleitos pelo 2° ano consecutivo a melhor loja de tecnologia do Brasil</p>
        </div>
    </div>
    <div class="col-xl-1 d-none d-lg-block mb-5"></div>
    <div class=" col-10 col-lg-3 Preco rounded-3 text-center">
        <div class="Preco justify-content-center text-center rounded-3">
            <img class="mt-4 mb-5" src="~/img/dindin.svg" />
            <h2 class="text-light mb-4">Preço</h2>
            <p class="text-light">
                Promoções exclusivas e condições de pagamento acessíveis, garantindo economia sem abrir mão da qualidade.
            </p>
        </div>
    </div>
    <div class="col-xl-1 d-none d-lg-block"></div>

    <div class="col-10 col-lg-3 Equipe text-center justify-content-center rounded-3">
        <div class="Equipe justify-content-center align-items-center text-center rounded-3">
            <img class="mt-4 mb-5" src="~/img/group 3.svg" />
            <h2 class="text-light mb-4">Equipe</h2>
            <p class="text-light"> Contamos com uma equipe treinada pronta para te atender com velocidade</p>
        </div>
    </div>

</div>

<!--

    <div class="row">
        <div class="Apresentacao d-flex align-items-center">
            <div class="Sobre">
                <div class="col-12 col-md-6">
                </div>
                <div class="col-12 col-md-6">
                    <div class="Image-Apr justify-content-end">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="Cards d-flex justify-content-center ">

    </div>
</div>
    -->
</>
