@{
    ViewData["Title"] = "Página Inicial";
}
<div class="">
    <div class="Apresentacao d-flex align-items-center">
        <div class="Sobre">
            <h1 class="text-light d-flex align-items-center fw-bold">Sobre</h1>
            <p class="text-light justify-content-center align-items-center">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui
            </p>
        </div>
        <div class="Image-Apr justify-content-end">
            <img src="~/img/960x571 1.png" />
        </div>
    </div>
    <div class="Cards d-flex justify-content-center ">
        <div class="Qualidade bg-dark justify-content-center">
            <img class="" src="~/img/vector (1).svg" />
            <p class="text-light">Fomos eleitos pelo 2° ano consecutivo a melhor loja de tecnologia do Brasil</p>
        </div>
        <div class="Preco bg-dark justify-content-center">
            <img class="" src="~/img/dindin.svg" />
            <p class="text-light"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
        </div>
        <div class="Equipe bg-dark">
            <img class="" src="~/img/group 3.svg" />
            <p class="text-light"> Contamos com uma equipe treinada pronta para te atender com velocidade</p>
        </div>

    </div>
</div>
</>
