@{
    ViewData["Title"] = "Sobre a Equipe";
    var backgroundImage = ViewData["BackgroundImage"];
}
<style>
    body {
        background: url('@backgroundImage') no-repeat center center fixed;
        background-size: cover;
    }
</style>
<div class="">
   
</div>

