@{
    ViewData["Title"] = "Sobre a Equipe";
    var backgroundImage = ViewData["BackgroundImage"];
}
<style>
    body {
        background: url('@backgroundImage') no-repeat center center fixed;
        background-size: cover;
    }

    .Sobre-nos {
        margin-top: 200px;
        margin-bottom: 300px
    }

        .Sobre-nos h1 {
            color: #932BE2;
            font-size: 70px;
            text-align: center;
            margin-right: 260px;
        }

    .QuemSomos {
        width: 850px;
        height: 850px;
        background: #5E0F9A;
        color: white;
        border-radius: 15px;
        margin-left: 200px;
        margin-right: -300px;
        z-index: 1000;
        align-items: center;
    }

        .QuemSomos p {
            max-width: 500px;
            font-size: 52px;
            margin: 0px auto 0px;
            text-align: center;
            margin-top: 30px;
        }

        .QuemSomos h4 {
            font-size: 39px;
            margin-top: 50px;
            margin-left: 30px;
        }

    .Membros {
        background: #DDDDDD;
        width: 1621px;
        height: 1684px;
        border-radius: 17px;
    }

    .Mazzi {
        margin-left: 450px;
        margin-top: 170px;
    }

        .Mazzi p {
            font-size: 32px;
            max-width: 504px;
            margin-left: 60px;
        }

    .Bruno p {
        font-size: 32px;
        max-width: 504px;
        margin-right: 60px;
        text-align: right
    }

    .Bruno {
        margin-left: 450px;
        margin-top: 100px;
    }

    .Luz {
        margin-left: 450px;
        margin-top: 100px;
    }

        .Luz p {
            font-size: 32px;
            max-width: 504px;
            margin-left: 60px;
        }
</style>
<div class="Sobre-nos">
    <h1 class="fw-bold">#NOSSAEQUIPE</h1>
    <div class="ConteudoSBN d-flex align-items-center">
        <div class="QuemSomos align-items-center">
            <h4 class="">QUEM SOMOS NÓS</h4>
            <p class="fw-bold text-center justify-content-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="Membros align-items-center">
            <div class="Mazzi d-flex align-items-center">
                <img src="~/img/mazzi.png" />
                <p class="fw-bold">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="Bruno d-flex align-items-center">
                <p class="fw-bold">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <img src="~/img/bruno.png" />
            </div>
            <div class="Luz d-flex align-items-center ">
                <img src="~/img/luz.png" />
                <p class="fw-bold">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>


            </div>
        </div>
    </div>
</div>

