@{
    ViewData["Title"] = "Sobre a Equipe";
    var backgroundImage = ViewData["BackgroundImage"];
}
<style>
    body {
        background: url('@backgroundImage') no-repeat center center fixed;
        background-size: cover;
    }

    .Sobre-nos {
        color: #932BE2;
    }

    .QuemSomos {
        background: #5E0F9A;
    }

        .QuemSomos p {
            max-width: 500px;
            font-size: 35px;
            margin: 0px auto 0px;
            text-align: center;
            margin-top: 30px;
        }

        .QuemSomos h4 {
            font-size: 25px;
        }

    .Membros {
        background: #DDDDDD;
        width: 1621px;
        height: 1684px;
        border-radius: 17px;
    }

    .Mazzi p {
        font-size: 25px;
    }

    .Bruno p {
        font-size: 32px;
        max-width: 504px;
        margin-right: 60px;
        text-align: right
    }

    .Bruno img {

    }

    .Luz {
        margin-left: 430px;
        margin-top: 100px;
        margin-right: 60px;
    }

        .Luz p {
            font-size: 32px;
            max-width: 504px;
            margin-left: 60px;
        }
</style>
<div class="row mt-5">
    <div class="col-md-5"></div>
    <div class="col-12 col-md-3">
        <h1 class="fw-bold Sobre-nos">#NOSSAEQUIPE</h1>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row justify-content-center align-items-center">
    <div class="col-md-5"></div>
    <div class="col-12 col-md-2">
        <img src="~/img/mazzi.png" class="w-100 h-75" />
    </div>
    <div class="col-12 col-md-4 align-items-center Mazzi">
        <p class="fw-bold">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
</div>
<div class="row align-items-center justify-content-center">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-3 justify-content-center QuemSomos rounded-3">
        <h4 class="mt-4 fw-bold text-light">QUEM SOMOS NÓS</h4>
        <p class="fw-bold text-center justify-content-center text-light mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-12 col-md-4 Mazzi">
        <p class="fw-bold">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
    <div class="col-md-2 Bruno">
        <img src="~/img/bruno.png" class="w-100 h-75" />
    </div>
</div>
<div class="row justify-content-center align-items-center mb-5">
    <div class="col-md-5"></div>
    <div class="col-12 col-md-2">
        <img src="~/img/luz.png" class="w-100 h-75" />
    </div>
    <div class="col-12 col-md-4 align-items-center Mazzi">
        <p class="fw-bold">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
</div>

<!--

<div class="Sobre-nos">
    <h1 class="fw-bold">#NOSSAEQUIPE</h1>
    <div class="ConteudoSBN d-flex align-items-center">
        <div class="QuemSomos align-items-center">
        </div>
        <div class="Membros align-items-center">
            <div class="Mazzi d-flex align-items-center">
            </div>
            <div class="Bruno d-flex align-items-center">
            </div>
            <div class="Luz d-flex align-items-center ">
                <p class="fw-bold">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>


            </div>
        </div>
    </div>
</div>


-->
