@{
    ViewData["Title"] = "Sobre a Equipe";
    var backgroundImage = ViewData["BackgroundImage"];
}
<style>
    body {
        background: url('@backgroundImage') no-repeat center center fixed;
        background-size: cover;
    }
</style>
<div class="container my-5">
    <div class="text-center">
        <h1 class="mb-4 fw-bold" style="color:#820AD1;">#NOSSAEQUIPE</h1>
    </div>
    <div class="row justify-content-center">
        <!-- Texto principal à esquerda -->
        <div class="col-10 col-lg-5 d-flex align-items-center bg-purple rounded " style="font-size:26px;height:">
            <div>
                <h2 class="fw-bold text-light ms-3  ">Quem nós somos?</h2>
                <p class="text-light">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
            </div>
        </div>

        <!-- Imagem à direita -->
    </div>
    <div class="row mt-5">
        <!-- Card 1 -->
        <div class="col-md-6 mb-4">
            <div class="d-flex align-items-center border p-3 rounded shadow-sm">
                <!-- Imagem -->
                <img src="~/img/ThaigoMa.png" alt="Foto equipe 1"
                     class="rounded-circle flex-shrink-0"
                     style="width: 120px; height: 120px; object-fit: cover; display: block;">
                <!-- Texto ao lado direito -->
                <div class="ms-3">
                    <p style="font-size:20px">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-6 mb-4">
            <div class="d-flex align-items-center border p-3 rounded shadow-sm">
                <!-- Imagem -->
                <img src="~/img/Brunos.png" alt="Foto equipe 1"
                     class="rounded-circle flex-shrink-0"
                     style="width: 120px; height: 120px; object-fit: cover; display: block;">
                <!-- Texto ao lado direito -->
                <div class="ms-3">
                    <p style="font-size:20px">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
                </div>
            </div>
        </div>

    </div>

    <!-- Card 3 -->
    <div class="row mt-5">
        <!-- Card 1 -->
        <div class="col-md-6 mb-5">
            <div class="d-flex align-items-center border p-3 rounded shadow-sm">
                <!-- Imagem -->
                <img src="~/img/Luzzz.png" alt="Foto equipe 1"
                     class="rounded-circle flex-shrink-0"
                     style="width: 120px; height: 120px; object-fit: cover; display: block;">
                <!-- Texto ao lado direito -->
                <div class="ms-3">
                    <p style="font-size:20px">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
                </div>
            </div>
        </div>
    </div>
</div>
